:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;

}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

#tooltip.hidden {
  display: none;
 }

 #artistTooltip.hidden {
  display: none;
 }

 #tooltip, #artistTooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
  font-family: 'Nanum Gothic', sans-serif;
 }

 #legendOptions {
  position: absolute;
  left: 70px;
  top: 50px;
 }

 #legendOptions label {
  display: block;
 }

 #scroll {
  position: relative;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll__graphic .chart {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll__text {
  padding: 0 1rem;
  max-width: 30rem;
}

.step {
  opacity: 0;
  padding: 1rem;
}

.step.is-active {
  opacity: 1;
}

h1 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.chart-text {
  display: flex;
}

.oh {
	position: relative;
	overflow: hidden;
}

.oh__inner {
	will-change: transform;
	display: inline-block;
}

.content__overlay {
	position: fixed;
	top: calc(50% - 75vmax);
	left: calc(50% - 75vmax);
	width: 150vmax;
	height: 150vmax;
	pointer-events: none;
	will-change: transform;
	z-index: 3;
  border-radius: 50%;
	transform: scale(0);
}

.overlay__inner {
	background: var(--color-bg-overlay);
	width: 100%;
	height: 100%;
	position: relative;
}

.preview {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: grid;
	pointer-events: none;
	z-index: 4;
	color: var(--color-text-preview);
}

.preview__item {
	opacity: 0;
	pointer-events: none;
	display: grid;
	grid-gap: 0.5rem;
	padding-top: 1rem;
	grid-template-rows: auto auto auto auto 1fr;
	grid-template-areas: 'title title title title' ' subtitle subtitle subtitle subtitle ' 'meta meta meta meta' 'svg svg box-right box-right' ' . . . . ';
	will-change: clip-path;
}

.preview__item--current {
	opacity: 1;
	pointer-events: auto;
}

.preview__item-title {
	align-self: center;
	justify-self: center;
	grid-area: title;
	font-size: clamp(3rem, 6.5vw, 17rem);
	font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
	margin: 0;
	line-height: 1;
	will-change: transform;
	padding-top: 1vw;
  overflow: visible;
}

.preview__item svg {
  grid-area: svg;
  justify-self: left;
}

.preview__item-subtitle {
	justify-self: center;
	position: relative;
	grid-area: subtitle;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  margin-top: 10px;
  text-transform: uppercase;
  overflow: visible;
}

.preview__item-meta {
	justify-self: center;
	position: relative;
	grid-area: meta;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  overflow: visible;
}

.preview__item-box {
	position: relative;
	will-change: transform;
	justify-self: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.preview__item-box--right {
	grid-area: box-right;
  justify-self: left;
  text-align: left;
  text-transform: lowercase;
  overflow-y: scroll;
  overflow-x: visible;
  height: 550px;
  margin-left: 15px;
  white-space: pre-line;
}

.preview__item-box-title {
	margin: 0;
  text-transform: uppercase;
}

.preview__item-box-desc {
	will-change: transform, opacity;
}

.preview__back {
	cursor: pointer;
	position: absolute;
	bottom: 2.5rem;
	left: 50%;
	z-index: 300;
	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%);
	will-change: transform, opacity;
}

.preview-open .preview__back {
	pointer-events: auto;
}

.preview__back svg {
	pointer-events: none;
	stroke: var(--color-text-preview);
	stroke-width: 1px;
	transition: stroke .3s;
}

.preview__item svg {
  grid-area: svg;
  justify-self: right;
  margin-right: 15px;
}

